@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */

@page {
  size: 80mm auto;   /* ถ้าใช้ 58mm เปลี่ยนเป็น 58mm auto */
  margin: 0;
}

@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    visibility: hidden !important;
  }

  #printable-receipt,
  #printable-receipt * {
    visibility: visible !important;
  }

  #printable-receipt {
    position: fixed;
    left: 0;
    top: 0;
    width: 80mm;            /* หรือ 78mm ถ้าอยากเผื่อ */
    box-sizing: border-box;
    padding: 4px;
    background: #fff;
    color: #000;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.2;
  }
}
